
<div class="managements-contents">
  <header class="managements-header">
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>

  </header>
  <div class="managements-main">
    <h2 class="managements-title">管理画面</h2>
    <%#= form_with model:@managements, url: managements_path, local: true do |f| %>

    <div class="managements-age">
    <%# query = "SELECT * FROM managements ORDER BY created_at DESC" %><%# 保存された最新順に並び替え %>
    <%#= @managements = Management.find_by_sql(query) %><%#find_by_sqlで（）を取得する%>
    
    <% @management = Management.pluck('created_at', 'unit_price')%>
    <%= bar_chart @management%>

    <% query = "SELECT created_at from managements" %><%#マネジメントテーブルから価格を選択%>
    <%= @managements = Management.find_by_sql(query) %><%#価格だけを表示%>
    <%= line_chart @managements%>
    <%#= query = "SELECT SUM(unit_price) FROM managements" %><%#マネジメントテーブルから価格を合計する%>

    </div>

    <%# 下部ボタン %>
    <div class="managements-btn-contents">
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <%# end %>

  <footer class="managements-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">フリマ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎Furima,Inc.
    </p>
  </footer>
</div>
